{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "loose": true,
    "keepClassNames": true,
    "externalHelpers": false,
    "transform": {
      "optimizer": {
        "globals": {
          "vars": {
            "__DEBUG__": "false"
          }
        },
        "simplify": true,
        "jsonify": {
          "minCost": 0
        }
      },
      "constModules": {
        "globals": {
          "process.env.NODE_ENV": "production"
        }
      }
    },
    "minify": {
      "compress": {
        "unused": true,
        "dead_code": true
      },
      "mangle": false
    }
  },
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "minify": true,
  "sourceMaps": true,
  "inlineSourcesContent": true
}